.sectionWrapper {
    margin-top: 5rem;
}

.heading2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    color: var(--text-white-100);
}

.cardLayout {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 1.5rem /* 24px */;
    row-gap: 1.5rem /* 24px */;
}

.card {
    justify-content: center;
}


@media (min-width: 640px) {
    .cardLayout {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .cardLayout {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .cardLayout {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .cardLayout {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}